<h4 class="cart-title">Progress Bar</h4>
 <div class="row">
      <div class="col-12">
          <div class="card">
              <div class="card-body">

                  <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [attr.aria-valuenow]="progressB" aria-valuemin="0" aria-valuemax="100" [style.width]="progressB + '%'"></div>
                  </div>

                  <br>

                  <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" [attr.aria-valuenow]="progressG" aria-valuemin="0" aria-valuemax="100" [style.width]="progressG + '%'"></div>
                  </div>

              </div>
          </div>
      </div>
  </div>


<div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <incrementator (increment)="progressB = $event" [title]="'Blue Progress'" [progress]="progressB"></incrementator>          
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <div class="card-body">
            <incrementator (increment)="progressG = $event" [title]="'Green Progress'" [progress]="progressG"></incrementator>          
      
        </div>
      </div>
    </div>
        
</div>